* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Roboto, sans sarif";
    width: 100%;
    height: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 10%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 250ms all;
    -webkit-backdrop-filter: sepia(250%) blur(0.1rem);
    backdrop-filter: sepia(250%) blur(0.1rem);
}


/* Grayscale  invert opacity  sepia  saturate  %%%%  */

.menu.aktiv {
    top: 0;
}

.menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu ul li {
    margin: 0 0 3rem 0;
    padding: 0;
    width: 100%;
    font-size: 3rem;
    color: #117070;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
    list-style: none;
}

.background-box {
    width: 90vw;
    height: 90vh;
    border-radius: 4rem;
    background-size: cover;
    background-image: url("assets/strandNador.jpg");
    background-repeat: no-repeat;
}

.headline::first-letter {
    text-transform: capitalize;
}